<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>SITEMAPS_FILE_PATH</param-name>
        <param-value>/WEB-INF/siteMaps.properties</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>thongnt.listener.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>thongnt.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>thongnt.controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>thongnt.controller.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartAppController</servlet-name>
        <servlet-class>thongnt.controller.StartAppController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>thongnt.controller.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>thongnt.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookToCartController</servlet-name>
        <servlet-class>thongnt.controller.AddBookToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductToCartController</servlet-name>
        <servlet-class>thongnt.controller.AddProductToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBookFromCartController</servlet-name>
        <servlet-class>thongnt.controller.RemoveBookFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutProductCartController</servlet-name>
        <servlet-class>thongnt.controller.CheckoutProductCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductFromCartController</servlet-name>
        <servlet-class>thongnt.controller.RemoveProductFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>thongnt.controller.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>thongnt.controller.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <servlet-class>thongnt.controller.DisplayProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductCartServlet</servlet-name>
        <servlet-class>thongnt.controller.DisplayProductCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartAppController</servlet-name>
        <url-pattern>/StartAppController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookToCartController</servlet-name>
        <url-pattern>/AddBookToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductToCartController</servlet-name>
        <url-pattern>/AddProductToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBookFromCartController</servlet-name>
        <url-pattern>/RemoveBookFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutProductCartController</servlet-name>
        <url-pattern>/CheckoutProductCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductFromCartController</servlet-name>
        <url-pattern>/RemoveProductFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/CreateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <url-pattern>/DisplayProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductCartServlet</servlet-name>
        <url-pattern>/DisplayProductCartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>WS008</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
